#crtl-estoque{
    background-color: black;
}
#crtl-estoque{
    color: white;
}
#nome-do-site{
    background-color: black;
}
#nome-do-site{
    color: white;
}
#foto{
    background-color: black;
}
#foto{
color: white;
}
#descricao-one{
    background-color: black;
}
#descricao-one{
    color: white;
}
#preco{
background-color: black;
}
#preco{
    color: white;
}
#quantidade{
    background-color: black;
}
#quantidade{
    color: white;
}


tr {
    background-color: blue;
}
tr{
    color: white;
}


























